{% extends "base.html"%}
{% load static %}

{% block title%}
Login
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-50 m-5 pt-2">
        <form class="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 d-flex justify-content-center ">
                <p class="text-danger">{{ err }}</p>
            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}